 $colors: (
   primary: #969c97,
   secondary: #E6E8E6,
   accent: #756d74,
   text: #000000,

);


$padding:1em;
$margin :1em;





@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {


  from{
    margin-right:100% ;
    width: 100%;

  }

  end{
    margin-right: 0;
    width: 100%;
  }
   0% { margin-left:-800px; }
   20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
  }


@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
}

@function color($color-name){
  @return map-get($colors, $color-name)
}


$tablet: 768px;
@mixin tablet {
  @media (min-width: #{$tablet}){
    @content
  }
  
}

$desktop:1300px;
@mixin desktop {
  @media (min-width: #{$desktop}){
    @content
  }
  
}

html{
  scroll-behavior: smooth;
}
 *{
   color: black;
 }
body{
  margin: 0;
  letter-spacing: 0.4px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
   background-color:color(primary);
   color: black;
    // height: 100vh;
  

}
a{
  color: black;
}
li, button ,a{
  font-family: 'Playfair Display', 'serif';
  font-weight: 400;
  letter-spacing: 3px;
  color:black;
  list-style-type: none;
}




.hero-image{
  
  background-image:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0, 0.35)), url('../images/hero.jpg');
  height: 100vh;
  width: auto;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top:0;
  bottom: 0;
  z-index: 99;
 
  


.inner-hero h3
{
 font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  text-align:center;
  position: absolute;
  width: 100%;
  color:color(primary);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   display: inline-block;
  margin: 0;
  z-index: 100;
  line-height: 2em;
  font-size: 2.5em;
  z-index: 98;
  font-weight: bold;

}


  


.hero-text{
   font-family: 'Playfair Display', 'serif';
  padding: 0;
  font-size: 0.5em;
}

.hero-work{
  animation: showup 8s;
  font-size: .5em;
  color:black;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  @include tablet{
    font-size: .8em;

  }
}
 
.hero-name{
  animation: showup 8s  ;
  font-size: 1.3em;
  color: black;
  letter-spacing: 2px; 
}

 @keyframes slidein1{
  0%{
      transform: rotate(0) translateY(-12%);
      opacity: 0;
      }
  32%{
      transform: rotate(50) scale(0) translateY(-12%) skewX(25%);
      opacity: 0.25;
      }
  65%{
      transform: rotate(50) scale(3) translateX(80%) translateY(-12%) skewX(25%);
      opacity: 0.5;
      }
  100%{
      transform: rotate(50) translateX(200px) translateY(-12%) skewX(25%);
      opacity: 1;
      }
}

.hire a:hover{
  color: #000000;
} 

.inner-hero .btn{
  color: black;
}
 .hire {
  z-index: 102;
  position: absolute;
  padding: $padding/2 $padding/2;
  margin: 0 auto;
  top: 73%; 
  left: 50%;
  transform: translate(-50%,-50%);
   border: 3px solid rgb(44, 85, 51);
  display: block;
  border-radius: 10px;
  color: #000000;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  animation: slidein1 4s forwards;
  object-fit: contain;
  background: rgba(229, 226, 226, 0.3);
  

  @include tablet{
    font-size: 24px;
    top: 70%; 
    left: 50%;
    color: white;

  }
 }



 .nav
{
   text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Playfair Display', 'serif';
  color: black;

}

.menu{
  
    text-align: center;
    width: 100%;
    display: none;
    position: fixed;
     

  
  @include tablet{
    background: rgba(0,0,0, 0.4); 
  margin: 0 30px 0 0;
  position: fixed;
  display: grid;
  height: 60px;
   grid-template-columns: repeat(3,1fr);
}
}

.nav a{
  color: black;
}
.menu a{

    margin: 0;
    z-index: 102;
    color: black;
     text-transform: uppercase;
     list-style-type: none;
     text-decoration: none;
     display: block;
     // background:color(primary);
   
  @include tablet{
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  letter-spacing: 3px;
  display: grid;
  font-family: 'Playfair Display', 'serif';
  text-transform: uppercase;

}
}

label{
  display: block;
   margin: 0 40px 0 0;
  font-size: 29px;
  line-height: 70px;
  

  @include tablet{
   display: none;
 
}
}
#toggle{
  display: none;
}
#toggle:checked + .menu{
  display: block;
  @include tablet{
    display: none;
  }
  }


 
}
 
 .header {
   @include tablet{
    position: fixed;
  top: 0;
  z-index: 102;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

}

// .navbar{
//   // display: grid;
//   font-size: 18px;
   
// }

// .main-nav{
//   padding: 0;
//   // display: grid;
//     overflow: hidden;
//   //  display:flex;
//   // position:absolute;
// justify-content: space-between;
// align-items: center; 
//    list-style: none;
//    display: none;
//   font-size: 18px;
//   margin: 0 auto;
//   letter-spacing: 2px;
//    @include tablet{
//      display: grid;
//      justify-content: space-around;
//       grid-template-columns: repeat(3,1fr);
//      width: 85%;
//   }
//  }
 

//  .main-nav li a {

//   color: white;
//   padding: $padding $padding*2;
//     text-transform: uppercase;
//    transition: all .4s ease 0s;
//    text-decoration: none;
//     font-family: 'Raleway' sans-serif;
//   }

   

 
//  .main-nav li {
//     display: none;
//    color: color(text);
//    margin: 14px auto;
//     @include tablet{
//      display: grid;
//     margin: 0;
//     margin-left: 40px;;
 
//  }
// }
 
.main-nav li  a:hover{
  background-color: color(secondary);
  color:black;
}


























.home-container{
  margin: 1em auto 1em auto;
 
  @include tablet{
    display: grid;
    grid-auto-flow: dense;
     grid-template-areas: 
     "section-b section-c";
    grid-template-columns:2fr 2fr;
    margin: $margin $margin *2;
  }

  @include desktop{
    display: grid;
    grid-template-columns:2fr 2fr 2fr;

}
}

.content-title{
  text-align: center;
   font-family: 'Playfair Display', 'serif';
  color: color(text);
  letter-spacing: 2px;
  font-size: 1.5em;
  
}


#section-a{
  padding: $padding auto;
   justify-content: center;
   align-content: center;
  height: fit-content;
  width: 100%;
  // display:grid;
  line-height: 2em;
   font-family: 'Raleway', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;

  // font-family: 'Georgia, sans-serif';
   text-align: center;
  justify-content: center;
  font-size: 1em ;
  letter-spacing: .5px;
  margin-top: 60px;
}

#section-a p{
  width:80%;
  margin: $margin auto;
}

#section-a h1{
  text-align: center;
  align-content: center;
  color: black;
  font-size: 3.5em;
  font-weight: 400;
  font-family: 'Playfair Display', 'serif';
  
  letter-spacing: 1px;
  box-shadow: rgba(0,0,0, 0.45);
  animation:  showup 4s ;
  padding-bottom: 0.4em; ;
  border-bottom: black 1px solid;
}

#section-a h2{
  text-align: center;
  align-content: center;
  color: color(text);
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Raleway', 'sans serif';
}
 

img{
  display: flex;
  width: 70%;
  margin: $margin  auto;
   position: relative;
  object-fit: cover;
}

#section-b {
  width: 100%;
   grid-area: section-b;
   
}




#section-b p{
  width: 70%;
  line-height: 2em;
  font-size: 1.1em ;
   display: block;
  letter-spacing: 1px;
  padding: $padding/2;
 margin: 0 auto;
  text-align: center;

}


#section-e h2{
  font-size: 2em;
  text-align: center;
  font-family: 'Raleway', 'sans serif';


}



#section-c{
  width: 100%;
  grid-area: section-c;  
  height: auto;
}


#section-c p{
  width: 70%;
  line-height: 2em;
  font-size: 1.1em ;
   display: block;
  letter-spacing: .5px;
  padding: $padding/2;
 margin: 0 auto;
  text-align: center;
}

#section-d{
 width: 100%;
}


#section-d p{
  width: 70%;
  line-height: 2em;
  font-size: 1.1em ;
   display: block;
  letter-spacing: .5px;
  padding: $padding/2;
 margin: 0 auto;
  text-align: center;
  
 
}

.project-heading{
  text-align: center;
  font-family: 'Raleway', 'sans serif';
  color: color(text);
  letter-spacing: 2px;
  font-size: 3em;
  margin-top: 60px;

}

#section-e{
  line-height: 2em;
   text-align: center;
  justify-content: center;
  font-size: 1em ;

 @include tablet {
   display: grid;
   grid-template-columns: 2fr 2fr;

  }


  

  
}


#section-e p{
  text-align: center;
  line-height: 2em;
  font-size: 1em ;
  display: block;
  letter-spacing: .5px;
  margin: auto $margin ;
 
}



 .image{
   background-image:linear-gradient(rgba(0,0,0,.2),
   rgba(0,0,0, 0.2));
    border-radius: 9px;
  
  width: 80%;
   align-content: center;
   justify-content: center;
  margin: $margin auto $margin auto;
  //  position: absolute;
   object-fit: contain;
   display: flex;
  //  border: color(secondary) 4px solid;
   padding: $padding/3;

 
   
  //  margin: $margin  auto;
   
   @include tablet {
  // height: auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: flex;
 
   }
 
   
 }


.work p{
  text-align: center;
  padding: 10px 20px;
  color: color(secondary);
  font-family: 'Raleway', sans-serif;

}

.content {
  width: 55%;
  min-height: 40%;
  margin: $margin auto $margin auto;
    background-color: color(primary);
   box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
.content img{

    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0.3;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}
  

}

.column{
   margin: $margin auto;
   min-height: 40%;
  width: fit-content;
}


#section-f{
  background: rgba(0, 0, 0, 0.19);
 width: 100%;
 grid-area: section-f;
 padding-top: $padding;
 


  
 
 }

.form-container{
  display: block;
  opacity: 0.8;
  width: 80%;
  margin: $margin auto;
  padding: $padding*2;


   @include tablet{
     display: grid;
     grid-template-columns: 2fr 2fr;
     margin: $margin auto;
     width: 90%;
   }
   @include desktop{
     width: 70%;
   }
  }
 .box p{
   margin: $margin auto;
   width: 60%;
   text-align: center;
   line-height:1.9em;

 }

.box{
  min-width: 60%;
  

  // background: color(primary);
  text-align: center;
   border-radius: 9px;
  animation: all 9s ease 0s;
     margin: 0 auto;
   border: 3px color(primary) solid;
   padding: 0 $padding;
  
 

  // @include desktop{
  //    display: grid;
  //    grid-template-columns: 3fr 2fr;
  //  }

  @include tablet{
    display: grid;
    margin: 0 auto;
    z-index: 2;
  
  }

}
.box1 li{
  color: black;
  margin: 0;
  padding: 0;
}
.box1{
  
//  background: color(primary);
 text-align: center;
 border-radius: 9px;
 animation: all 9s ease 0s;
  margin: 0 auto;
  line-height: 2em;
//  border: 2px color(accent) solid;
 font-size: 18px;
display: block;
color: black;
min-width: 50%;
max-width: 80%;


@include tablet{
  display: grid;
  justify-content: center;
  align-items: center;
  
  // height: 400px;
  height: 75%;


  


}
}


.company-list li ul{
   color: black;
   text-align: center;
  }

input{
  outline: none;
}

input:focus, textarea:focus{
  border: 0;
  outline: none;
}
.box input[type="text"], textarea{
  border: 0;
  background: none;
  display: block;
  margin: $margin auto;
  border-bottom: 2px black solid;
 opacity: .9;
  border-radius: 1px;
  color: white;
  width: 80%;
  padding: $padding/2;
  font-family: 'Open Sans', 'sans-serif';
  line-height: 2em;
  background: color(primary);

  @include desktop{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.box input[type='submit']
{
  background: #878c87;
  border-radius: 14px;
  font-size: 24px;
  padding: $padding/3 $padding;
  border-color: black 1px solid;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  width: 50%;
  margin: $margin auto;
  font-variant: small-caps;

  
}
.form-title {
  font-size: 2em;
  font-weight: 900;
  color: color(text);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

}

.contact-title{
  font-size: 1.5em;
  text-transform: uppercase;
  justify-content: center;
  // margin: 0;
  @include tablet{
    text-align: center;
    padding: $padding;
  }  
}

.contact-content{
  object-fit: contain;
  font-size: 1em;
  align-items: center;
}

.contact-content a{
  text-decoration: none;
  font-size: .8em;
  color: #000000;


}
.copyright{
  position: sticky;
  text-align: center;}





  